*html, div, span, object, iframe, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align: baseline;}*/
  
ul {
    list-style-type: none;}  
li {
    list-style-type: none;
    font-size: 0px;} 


    

div.galeria {
    border: 1px solid #ccc;
        }
    div.galeria:hover {
    border: 1px solid #777;
        }
    div.galeria img {
    width: 100%;
        height: auto;
        }
        div.desc {
        padding: 15px;
        text-align: center;
        }
        * {
        box-sizing: border-box;
        }
        .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
        }
        @media only screen and (max-width: 700px) {
        .responsive {
        width: 49.99999%;
        margin: 6px 0;
        }
        }
        @media only screen and (max-width: 500px) {
        .responsive {
        width: 100%;
        }
        }
        .clearfix:after {
        content: "";
        display: table;
        clear: both;
        }
body {
  color: black;
}