*/*html, div, span, object, iframe, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align: baseline;}*/

  html, body, .container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
}
body {
    background: rgb(193, 96, 96);
}

header {
    position: fixed;
    background-color: rgb(250, 134, 17);
    width: 100%;
    min-height: 12vh;    
    z-index: 2000;

    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 10px  rgb(250, 134, 17);
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    color: white;

    mask-image: linear-gradient(rgb(250, 134, 17) 10%, transparent);
    -webkit-mask-image: linear-gradient(rgb(250, 134, 17) 50%, transparent);
 
    /*mask-image: linear-gradient(rgb(30, 29, 28) 50%, transparent);
    -webkit-mask-image: linear-gradient(rgb(30, 29, 28) 50%, transparent);*/
}

nav {    
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
}
nav a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}
nav a:hover {
    color: #fff;
}
li {
    display: inline-block;
    position: relative;
    margin-right: 25px;
}



/***************whatsapp y mail****************/

.ws {
	position: fixed; 
	right: 1px; /* Establecemos la barra en la izquierda */
	top: 500px; /* Bajamos la barra 500px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.ws ul {
		list-style: none;
}

.ws ul li a {
		display:inline-block;
		color:#fff;
		/*background: #000;*/
		padding: 35px 35px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.ws ul li .icon-facebook {background-image: url(./img/mail.png)} 
.ws ul li .icon-mail2 {background-image: url(./img/wapps.png)}
    

.ws ul li a:hover {
		/*background:white; /* Cambiamos el fondo cuando el usuario pase el mouse */
		transform: scale(1.2);
  		text-decoration: none;
 		/*box-shadow: 0 0px 25px coral;*/
		/*padding: 21px 22px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */

}
/*@media (max-width: 800px) {
    .ws ul li .icon-mail2 {        
        padding: 20px 20px;     
    }
    .ws li .icon-mail2 {
       padding: 21px 22px;
    }

}*/


  



    

div.galeria {
    border: 1px solid #ccc;
        }
    div.galeria:hover {
    border: 1px solid #777;
        }
    div.galeria img {
    width: 100%;
        height: auto;
        }
        div.desc {
        padding: 15px;
        text-align: center;
        }
        * {
        box-sizing: border-box;
        }
        .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
        }
        @media only screen and (max-width: 700px) {
        .responsive {
        width: 49.99999%;
        margin: 6px 0;
        }
        }
        @media only screen and (max-width: 500px) {
        .responsive {
        width: 100%;
        }
        }
        .clearfix:after {
        content: "";
        display: table;
        clear: both;
        }

@media (max-width: 435px) {
        nav li {    
            display: inline;    
            margin-top: 1px;    
            font-size: 95%;         
    }
        header {
            min-height: 8vh;    
    }
}
